{% extends "../layouts/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
{% endblock %}
{% block main %}
    <div class="grid grid-cols-2 mx-32">
        <div class="w-full">
            <div class="swiper mySwiper2 ">
                <div class="swiper-wrapper">
                    {% for image in product.images.all %}
                    <div class="swiper-slide cursor-pointer">
                            <img src="{{ image.image_url}}" alt="Imagen del producto {{ product.name }}" class="rounded-lg" />
                        </div>
                        {% endfor %}
                </div>
                <!-- Botones de navegación -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <div class="flex flex-col gap-8 bg-white">
            <div class="flex justify-center">
                <h3 class="text-2xl">
                    {{ product.name }}
                </h3>
            </div>
            <div class="ml-16 flex flex-col gap-8 text-lg">
                <div>
                    <h4>
                        {{ product.description }}
                    </h4>
                </div>
                <div class="flex flex-col gap-4">
                    <div>
                        <p>
                            Colores disponibles
                        </p>
                    </div>
                    <div class="flex gap-4 ">
                        <div class="flex justify-center items-center gap-2">
                            <div class="h-4 w-4 rounded-full bg-black">
                            </div>
                            <div>
                                <p>Negro</p>
                            </div>
                        </div>
                        <div class="flex justify-center items-center gap-2">
                            <div class="h-4 w-4 rounded-full bg-red-500">
                            </div>
                            <div>
                                <p>Rojo</p>
                            </div>
                        </div>
                        <div class="flex justify-center items-center gap-2">
                            <div class="h-4 w-4 rounded-full bg-white border border-1">
                            </div>
                            <div>
                                <p>Blanco</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h4 class="text-xl line-through text-red-800">
                        S/ {{ product.price }}
                    </h4>
                </div>
            </div>
            <div class="mx-auto">
                <button class="bg-black text-white p-2 px-4 rounded-sm" type="button">
                    Agregar al carrito
                </button>
            </div>
        </div>
    </div>
{% endblock  %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper2", {
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            thumbs: {
                swiper: swiperThumbs,
            },
        });

        var swiperThumbs = new Swiper(".mySwiper", {
            spaceBetween: 10,
            slidesPerView: 4,
            freeMode: true,
            watchSlidesProgress: true,
        });

        swiper.params.thumbs.swiper = swiperThumbs;
        swiperThumbs.init();
    </script>
{% endblock %}
