{% extends "./layouts/base.html" %}
{% block main %}
    <div class="bg-gray-100 p-6">
        <div class="my-12 grid  grid-cols-4 gap-12 m-6 ">
            {% for favorite in favorites %}
                <div class="product-card bg-white lg:col-span-1 md:col-span-2 col-span-4 rounded-2xl shadow-md">
                    <div class="flex">
                        <img src="{{ favorite.product.images.first.image_url}}" alt="">
                        <a class="-mx-12 my-4 h-7 w-7" href="{% url 'remove_from_favorites' favorite.product.id %}">
                            <ion-icon name="heart-outline" class="text-red-500"></ion-icon>
                        </a>
                    </div>
                    <div class = "ml-6 mr-6">
                        <a href="{% url favorite.product.url_name favorite.product.id %}">
                            <p>
                                <b>{{ favorite.product.name }}</b>
                            </p>
                        </a>
                    </div>
                    <div class="ml-6"><p>S/. {{ favorite.product.price }}</p></div>
                    <div class="ml-6">
                        <a class="mx-1" href="#">
                            <button class="h-3 w-3 rounded-full bg-red-500 border border-black">
                            </button>
                        </a>
                        <a class="mx-1" href="#">
                            <button class="h-3 w-3 rounded-full bg-black border border-black">
                            </button>
                        </a>
                        <a class="mx-1" href="#">
                            <button class="h-3 w-3 rounded-full bg-white border border-black">
                            </button>
                        </a>
                    </div>
                </div>
                {% empty %}
                <div class="product-card bg-white lg:col-span-4 md:col-span-4 col-span-4 p-6 rounded-2xl shadow-md">
                    <div class="flex flex-col items-center text-center space-y-4">
                        <ion-icon name="heart-dislike" class="text-red-500 text-5xl"></ion-icon>
                        <p class="text-gray-600 text-xl font-medium">
                            Aún no tienes productos en tu lista de favoritos.
                        </p>
                        <p class="text-gray-500 text-md">
                            Explora nuestra tienda y agrega tus productos favoritos para verlos aquí.
                        </p>
                        <a href="{% url 'menu' %}" class="inline-block mt-2 px-4 py-2 bg-pink-500 hover:bg-pink-600 text-white rounded-full transition duration-300">
                            Ver productos
                        </a>
                    </div>
                </div>
                
            {% endfor %}
        </div>
    </div>
{% endblock %}