{% extends "layouts/base.html" %}
{% block main %}
{% load crispy_forms_tags %}
        <div class="lg:flex">
            <div class="lg:w-[60vw] md:w-[80vw] w-[90vw] bg-stone-100 mx-auto ">
                <div class="m-8 ">
                    <div class="">
                        <p class="text-3xl">
                            CREAR UNA CUENTA MY TRICKS
                        </p>
                    </div>
                </div>
                    <div class="card w-[90%] mx-8  mb-8 ">
                        <div class="card-body">
                            <form action="" method="POST" class="">
                                <p class="text-xl mb-4">
                                    INFORMACION DE REGISTRO
                                </p>
                                {% csrf_token %}
                                {{ form | crispy}}
                                <div class="flex justify-center items-center m-4">
                                    <input class="rounded-sm p-1 bg-black w-40 text-white" type="submit" value="Siguiente">
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
            <div class="lg:w-[40vw] md:w-[70vw] w-[80vw] mx-auto border border-stone-150"> 
                <div class="m-8">
                    <p class="text-xl">
                        QUE ENCONTRARA EN SU CUENTA MY TRICKS
                    </p>
                </div>
                <div class="bg-stone-100 w-[75%] mx-auto my-[50%]">
                    <div class="border border-stone-150 p-2">
                        <p>Acceda a su historial de pedidos</p>
                    </div>
                    <div class="border border-stone-150 p-2">
                        <p>Gestione su informacion personal</p>
                    </div>
                    <div class="border border-stone-150 p-2">
                        <p>Registre su lista de deseos</p>
                    </div>
                    <div class="border border-stone-150 p-2">
                        <p>Reciba comunicaciones digitales de Tricks</p>
                    </div>
                    <div class="border border-stone-150 p-2">
                        <p>Mas beneficios...</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}